.sectionContainer {
    background-color: whitesmoke;
    margin: 30px;
    box-shadow: 0px 0px 0px 2px hsl(0, 0%, 80%);
}

.section__header {
    padding: 10px 0px 0px 20px;
    margin: 0px;
}

.section__headerElement {
    border-bottom: 1px solid gainsboro;
    margin: 5px 0 2px 0;
    display: grid;
    grid-template-columns: 1fr auto;
}

@media (max-width: 767px) {
    .section__header {
        padding-top: 10px;
        padding-left: 0px;
        margin: 0px auto;
    }
    .section__headerElement {
        display: flex;
        flex-direction: column;
    }
}