.list__item {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid gainsboro;
}

.list__item--done {
    text-decoration: line-through;
}

.list__tasks {
    margin: 5px;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.list__text {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.list__renderButtons {
    display: grid;
    grid-template-columns: 49% 49%;
}

.list__button {
    height: 30px;
    width: 30px;
    margin: 5px;
    padding: 5px;
    transition: 1s;
}

.list__button--hidden {
    display: none;
}

.list__button--done {
    background-color: hsl(120, 100%, 35%);
    border-style: none;
}
.list__button--done:hover {
    background-color: hsl(120, 100%, 40%);
}

.list__button--remove {
    background-color: hsl(0, 100%, 45%);
    border-style: none;
}

.list__button--remove:hover {
    background-color: hsl(0, 100%, 55%);
}

@media (max-width:767px) {
    .list__headerElement {
        display: flex;
        flex-direction: column;
    }

    .list__header {
        text-align: center;
        padding: 10px 0px;
    }
}