.buttons_button {
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    color: teal;
    border-style: none;
    background-color: whitesmoke;
    transition: 1s;
}
.buttons_button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons_button:disabled {
    color: hsl(0, 0%, 40%);
}

.buttons {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width:767px) {
    .buttons {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }
    .buttons_button {
        margin: 10px;
    }
}